#include <stdio.h>
#include <math.h>

int main() {
    double numero;
    printf("Digite um numero positivo maior que zero: ");
    scanf("%lf", &numero);

    if (numero <= 0) {
        printf("O numero invalido, informe um numero maior que zero.\n");
    } else {
        double quadrado = numero * numero;
        double cubo = numero * numero * numero;
        double raiz_quadrada = sqrt(numero);
        double raiz_cubica = cbrt(numero);
        int resto_divisao_por_3 = (int)numero % 3;
        printf("1) O numero ao quadrado: %.2lf\n", quadrado);
        printf("2) O numero ao cubo: %.2lf\n", cubo);
        printf("3) A raiz quadrada do numero: %.2lf\n", raiz_quadrada);
        printf("4) A raiz cubica do numero: %.2lf\n", raiz_cubica);
        printf("5) O resto da divisao por 3: %d\n", resto_divisao_por_3);
    }
    return 0;
}
